/*..................AppBar section...............*/

.logo {
    padding-left: 180px;
}

.inputTa {
    width: 300px;
}

.lgBtn {
    text-transform: unset !important;
    width: 120px;
    height: 100px;
    margin-top: 2px;

}

.becomeASeller {
    margin-top: 20px;
    margin-left: 60px;
    font-size: 16px;
    color: white;
}

.moreDiv {
    /* background-color: green; */
    width: 90px;
}

.more {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
    color: white;
}

.cartDiv {
    margin-left: 10px;
    /* background-color: green; */
    width: 90px;
}

/*..................category section...............*/
.categoryDiv {
    /* background-color: yellow; */
    width: 100vw;
    height: 170px;

}

.categoryItems:hover {
    background-color: wheat;
    transition: 0.2s;
}

.categoryItems {
    width: 10vw;
    height: 100px;
    /* background-color: aliceblue; */
    margin-top: 80px;
}

.categoryImages {
    height: 50px;
    width: 50px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.categorytext {
    font-size: small;
    text-align: center;
    font-weight: bold;
}

/* .....................carouseDiv.................... */
.carouselDiv {
    width: 100vw;
    height: 300px;
    /* background-color: rgb(0, 255, 106); */
    /* overflow:hidden; */
    /* background-size:cover; */
}

.item {
    height: 100%;
}

.carouseDiv.carouselItem {
    width: 100vw;
    height: 250px;

}

.carouselImg {
    margin-top: 30px;
    height: 100%;
}

/* .....................mainlist........................ */
.mainListDiv {
    width: 100%;
    height: 250px;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-left: 6px;
    display: flex;
}

.firstDiv {
    width: 20%;
    height: 250px;
    /* background-color: blue; */

}

.secondDiv {
    width: 80%;
    height: 250px;
    /* background-color: rgb(0, 255, 76); */
}

.firstRow {
    height: 50%;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 0%;
    margin-left: 0%;
    /* align-items: center; */
}

.secondRow {
    background-color: gray;
    margin-top: 0%;
    margin-left: 0%;
}

.name {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    /* margin-left: 20%; */
}

.imggg {
    position: absolute;
    object-fit: cover;
    width: 10%;
    height: 11%;
}
.cards{
    width: 250px;
    height: 250px;
    /* background-color: wheat; */
    margin-right: 10px;
    margin-left: 0%;

}
.cardImg{
    width: 150px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.text{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}